<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="mb-3">
                        <div class="section-title mb-0">
                            <h1 class="m-0 text-uppercase font-weight-bold">Tranding News</h1>
                        </div>
                        <div class="bg-white border border-top-0 p-3">
                            {% for Products in product %}
                            <div class="d-flex align-items-center bg-white mb-3" style="height: 110px;">
                                <img class="img-fluid" style="widthy:150px;height:150px" src="{{Products.img.url}}" alt="">
                                <div class="w-100 h-100 px-3 d-flex flex-column justify-content-center border border-left-0">
                                    <div class="mb-2">
                                        <a class="badge badge-primary text-uppercase font-weight-semi-bold p-1 mr-2" href="">{{ Products.status }}</a>
                                        <a href="{{Products.get_absolute_url}}">{{ Products.name }}</a>
                                        <a class="text-body" href=""><small>{{ Products.date }}</small></a>
                                        <a href="{{Products.get_absolute_url}}"><h2>{{ Products.name }}</h2> </a>
                                        <a href=""><h3>{{ Products.price }} $</h3> </a>
                                        <a class="h6 m-0 text-secondary text-uppercase font-weight-bold" href="">{{ Products.bio }}</a>
                                        <button type="submit"> Get It</button>
                                        <br>______________________________________________________________________________________________
                                </div>
                            </div>
                            <br>
                            {% endfor %}
                        </div>
                    </div>
</body>
</html>
